# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df # first impressions: 4008 rows, 11 columns

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.dtypes # Get the data types for each column

# Are they appropriate? 

# Objects that should be numerical:

# CLV
# Number of open complaints

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [38]:
df.nunique() # Get number of unique values for each column

# Ignoring that we already know that only Income, Monthly Premium Auto and Total Claim Amount are numerical,
# the ST, GENDER, Education, Policy Type and Vehicle Class seem to be categorical at first glance, 
# based on the small amount of unique values. 

# Number of Open Complaints has a small number of unique values too, 
# but given the context it would make sense for there not to be too many different amounts in the data.

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [44]:
# Describe unique values of each categorical column

df.Customer.unique()
print(df.Customer.unique())  # I guess these are too many to print? In any case, these are Customer IDs consisting of letters and numbers.

['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

In [46]:
df.ST.unique() # State names, either in full or abbreviated

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [48]:
df.GENDER.unique() # A lot of ways to say male and female

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [50]:
df.Education.unique() # speaks for itself

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [58]:
df["Customer Lifetime Value"].unique() # Enormous percentages, weird ... (Use brackets and quotes here to deal with the spaces)

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

In [60]:
df["Number of Open Complaints"].unique() # Not sure what these numbers mean. Do we just look at the middle number? 0, 1, 2, 3, 4, 5

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [62]:
df["Policy Type"].unique() # types of policy

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [66]:
df["Vehicle Class"].unique() # types of car

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [70]:
# Describe the range of values for numerical columns & get summary statistics

# I use describe() and look at the min and max values. Another option is using .max() and .min(). 

df["Income"].describe() # The incomes range from 0 - 99960

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

In [72]:
df["Monthly Premium Auto"].describe() # The premiums range from 61 - 35354 (wow, what kind of car is that). 

#

count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64

In [74]:
df["Total Claim Amount"].describe() # The total claims range from 0,38 - 2893,24

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [76]:
# Get summary statistics for categorical columns. I'll try to get them all in 1 go this time

categorical_columns = df.select_dtypes(include='object')

In [82]:
categorical_columns.describe()  # I'm not getting the mean, mode etc. Because they're categorical, I guess. 

# We see that we're missing gender values for about 10% of customers, and we're missing 3 Lifetime Value values.
# In the 'top' row, we see which values occur the most. 
# In the freq row, we see how many times the value from the 'top' row occurs. So , for example, RB50392 being top means nothing.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [90]:
# Stealing the code from the lesson although I'm not sure what 'squeeze' does 

states = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv", usecols=["ST"]).squeeze("columns")
states

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: ST, Length: 4008, dtype: object

In [102]:
states_list = states.value_counts() # See the value counts for each state and store in a new list
states_list

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [112]:
inv_states_list = states_list[::-1] # invert the list

In [114]:
inv_states_list[0:5] # Get the first 5

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [118]:
policies = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv", usecols=["Policy Type"]).squeeze("columns")
policies

0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object

In [120]:
policies.value_counts() # get amount of sales per policy. Personal Auto is the most sold policy.

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [149]:
# Use the entire dataframe, not the policies series, because I need the income data 

personal_auto = df.loc[df["Policy Type"] == "Personal Auto"]
personal_auto

personal_auto.describe() # to peek at the mean

             Income  Monthly Premium Auto  Total Claim Amount
count    780.000000            780.000000          780.000000
mean   38180.698718            185.701282          404.820615
std    29952.165621           1389.378065          286.640319
min        0.000000             61.000000            0.382107
25%    12096.000000             68.000000          213.016744
50%    35211.500000             82.000000          350.626994
75%    62774.000000            109.000000          529.200000
max    99790.000000          35354.000000         2893.239678

In [151]:
print(personal_auto["Income"].mean()) # to print the mean on its own

38180.69871794872

In [153]:
corporate_auto = df.loc[df["Policy Type"] == "Corporate Auto"]
corporate_auto.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    234.000000            234.000000          234.000000
mean   41390.311966            243.683761          415.606539
std    31708.868459           2305.259851          312.682978
min        0.000000             61.000000            5.395300
25%    16325.500000             68.000000          203.506316
50%    39155.500000             85.000000          376.720392
75%    69843.000000            110.000000          537.600000
max    99960.000000          35353.000000         2345.413441

In [155]:
print(corporate_auto["Income"].mean())

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [157]:
# Let's create a Total Claim Amount Series

claim = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv", usecols=["Total Claim Amount"]).squeeze("columns")

claim.describe() # get a feel for the statistics. Now I need an object with just those 75% guys. The internet tells me quantile() is a thing

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [167]:
top_claims_start = claim.quantile(0.75) # Find out what the start of the 75th percentile is, even though we can see that in the describe
top_claims_start

532.8

In [169]:
top_claims = claim[claim >= top_claims_start] # filters for values over the start of the 75th percentile
top_claims

1       1131.464935
2        566.472247
17       647.442031
23       554.376763
26       799.200000
           ...
1059     720.752945
1061     546.524896
1068     633.600000
1069     547.200000
1070     537.600000
Name: Total Claim Amount, Length: 273, dtype: float64

In [171]:
top_claims.describe()  # This doesnt tell us very much, we need the other data

count     273.000000
mean      774.005353
std       291.304731
min       532.800000
25%       595.200000
50%       673.342650
75%       844.481918
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [173]:
top_claims_full = df.loc[top_claims.index]  # Get the other data back for just the rows within the top_claims series 
top_claims_full

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [175]:
top_claims_full.describe()   # Now we see some info that we can compare to the dataframe at large.

             Income  Monthly Premium Auto  Total Claim Amount
count    273.000000            273.000000          273.000000
mean   24106.545788            163.000000          774.005353
std    27542.717560            613.645376          291.304731
min        0.000000             63.000000          532.800000
25%        0.000000             99.000000          595.200000
50%    18846.000000            113.000000          673.342650
75%    44897.000000            133.000000          844.481918
max    99316.000000          10202.000000         2893.239678